process {
    withName:chipseeker_R {
        executor='slurm'
        queue="${params.queue}"
        cpus=2
        memory='50GB'
        time='23h'
        container = "${params.image_folder}chipseeker-3.18.0.sif"
        containerOptions = "${params.extra_mounts} -B ${params.diffbind_out}:/${params.diffbind_out}"
    }
    
}

